<h1><b><u>Local Posts:</u></b></h1>
<br/>
<table>
    <col width="200">
  <tr>
		<th style="width:10px">Name: </th>
		<th style="width:180px">Description: </th>
		<th style="width:70px">Author: </th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td style="text-align:center;"><%= link_to post.name, post %></td>
    <td style="text-align:center;"><%= post.description %></td>
    <td style="text-align:center;"><%= post.user.name %></td>
  </tr>
<% end %>
</table>

<br/>
<br/>

<%= link_to 'New Post', new_post_path %>
